.premeeting-screen {
    .action-btn {
        border-radius: 6px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 16px;
        padding: 7px 16px;
        position: relative;
        text-align: center;
        width: 100%;

        &.primary {
            background: #0376da;
            border: 1px solid #0376da;
        }

        &.secondary {
            background: #3d3d3d;
            border: 1px solid transparent;
        }

        &.text {
            width: auto;
            font-size: 13px;
            margin: 0;
            padding: 0;
        }

        &.disabled {
            background: #5e6d7a;
            border: 1px solid #5e6d7a;
            color: #afb6bc;
            cursor: initial;

            .icon {
                & > svg {
                    fill: #afb6bc;
                }
            }
        }

        .options {
            border-radius: 3px;
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 0;
            width: 36px;

            &:hover {
                background-color: #0262b6;
            }

            svg {
                pointer-events: none;
            }
        }
    }

    #new-toolbox {
        bottom: 0;
        position: relative;
        transition: none;

        // .toolbox-content {
        //     margin-bottom: 4px;
        // }

        .toolbox-content-items {
            // @include ltr;
            background: #282828;
            box-shadow: none;
            display: flex;
            justify-content: space-between;
            // padding: 8px 0;
        }

        .toolbox-content,
        .toolbox-content-wrapper,
        .toolbox-content-items {
            box-sizing: border-box;
            width: 95%;
        }
    }

    @media (max-width: 400px) {
        .device-status-error {
            border-radius: 0;
            margin: 0 -16px;
        }

        .action-btn {
            font-size: 16px;
            margin-bottom: 8px;
            padding: 11px 16px;
        }
    }
}

#preview {
    background: url("/images/virtual-background/background-7.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 100%;
    flex-direction: column;
    .avatar {
        text {
            fill: white;
        }
    }

    video {
        height: auto;
        object-fit: cover;
        width: 54%;
        margin-bottom: 30px;
        position: absolute;
        top: 250px;
    }
}

@mixin flex-centered() {
    align-items: center;
    display: flex;
    justify-content: center;
}

@media (max-width:"1240px"){
    #preview {
        video{
            width:65%;
            top:270px;
        }
    }
}
